# Get @hawkeyeinnovations packages from GitHub
# Make sure you log in on your machine: https://docs.github.com/en/packages/guides/configuring-npm-for-use-with-github-packages
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@hawkeyeinnovations:registry=https://npm.pkg.github.com